OPENAI_API_KEY=sua_chave_aqui_sem_aspas
GEMINI_API_KEY=sua_chave_gemini
AI_PROVIDER=gemini # ou 'openai' ou 'copilot'
AZURE_OPENAI_ENDPOINT=https://sua-empresa.openai.azure.com/
AZURE_OPENAI_KEY=sua_chave_azure_openai
PORT=:8070